In [5]:
#CARGAR LAS BASES DE DATOS
import os
import pandas as pd
import numpy as np
from pandas import DataFrame
os.chdir('C:/Users/Nacha/OneDrive/Desktop/Anaconda/TP4')

In [10]:
# PARTE 1 
# EJERCICIO 2 
hogar_24 = pd.read_excel('usu_hogar_T124.xlsx')
hogar_04 = pd.read_stata('Hogar_t104.dta')
eph_24 = pd.read_excel('usu_individual_T124.xlsx')
eph_04 = pd.read_stata('Individual_t104.dta')

In [11]:
# Cambiamos los nombres de las columnas a mayúsculas
hogar_04.columns = hogar_04.columns.str.upper()
hogar_24.columns = hogar_24.columns.str.upper()
eph_04.columns = eph_04.columns.str.upper()
eph_24.columns = eph_24.columns.str.upper()

In [13]:
# Combinamos los dataframes
# Dejamos los datos individuales que tengan solo de CABA y GBA
hogar_04_cleaned = hogar_04.drop(hogar_04[~hogar_04['AGLOMERADO'].isin(['Ciudad de Buenos Aires', 'Partidos del GBA'])].index)
hogar_04_cleaned = hogar_04_cleaned.replace({'Ciudad de Buenos Aires': 'CABA', 'Partidos del GBA': 'GBA'})

hogar_24_cleaned = hogar_24.drop(hogar_24[~hogar_24['AGLOMERADO'].isin([32, 33])].index)
hogar_24_cleaned = hogar_24_cleaned.replace({32: 'CABA', 33: 'GBA'})

print("Datos hogares 2004 después de filtrar:", hogar_04_cleaned.shape[0])
print("Datos hogares 2024 después de filtrar:", hogar_24_cleaned.shape[0])

#Dejamos los datos de los hogares que tengan solo de CABA y GBA
eph_04_cleaned = eph_04.drop(eph_04[~eph_04['AGLOMERADO'].isin(['Ciudad de Buenos Aires', 'Partidos del GBA'])].index)
eph_04_cleaned = eph_04_cleaned.replace({'Ciudad de Buenos Aires': 'CABA', 'Partidos del GBA': 'GBA'})

eph_24_cleaned = eph_24.drop(eph_24[~eph_24['AGLOMERADO'].isin([32, 33])].index)
eph_24_cleaned = eph_24_cleaned.replace({32: 'CABA', 33: 'GBA'})

print("Datos indivuduales 2004 después de filtrar:", eph_04_cleaned.shape[0])
print("Datos individuales 2024 después de filtrar:", eph_24_cleaned.shape[0])

C:\Users\Nacha\AppData\Local\Temp\ipykernel_7720\1244940710.py:4: FutureWarning: The behavior of Series.replace (and DataFrame.replace) with CategoricalDtype is deprecated. In a future version, replace will only be used for cases that preserve the categories. To change the categories, use ser.cat.rename_categories instead.
  hogar_04_cleaned = hogar_04_cleaned.replace({'Ciudad de Buenos Aires': 'CABA', 'Partidos del GBA': 'GBA'})

Datos hogares 2004 después de filtrar: 2351
Datos hogares 2024 después de filtrar: 2545

C:\Users\Nacha\AppData\Local\Temp\ipykernel_7720\1244940710.py:14: FutureWarning: The behavior of Series.replace (and DataFrame.replace) with CategoricalDtype is deprecated. In a future version, replace will only be used for cases that preserve the categories. To change the categories, use ser.cat.rename_categories instead.
  eph_04_cleaned = eph_04_cleaned.replace({'Ciudad de Buenos Aires': 'CABA', 'Partidos del GBA': 'GBA'})

Datos indivuduales 2004 después de filtrar: 7647
Datos individuales 2024 después de filtrar: 7051

C:\Users\Nacha\AppData\Local\Temp\ipykernel_7720\1244940710.py:17: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  eph_24_cleaned = eph_24_cleaned.replace({32: 'CABA', 33: 'GBA'})

In [19]:
# Concatenamos dataframes ya filtrados
hogar_combined = pd.concat([hogar_04_cleaned, hogar_24_cleaned], ignore_index = True)
print('Columnas del dataframe de hogares', hogar_combined.columns)
eph_combined = pd.concat([eph_04_cleaned, eph_24_cleaned], ignore_index = True)
print('Columnas del dataframe individuales', eph_combined.columns)

Columnas del dataframe de hogares Index(['CODUSU', 'NRO_HOGAR', 'REALIZADA', 'ANO4', 'TRIMESTRE', 'REGION',
       'MAS_500', 'AGLOMERADO', 'PONDERA', 'IV1', 'IV1_ESP', 'IV2', 'IV3',
       'IV3_ESP', 'IV4', 'IV5', 'IV6', 'IV7', 'IV7_ESP', 'IV8', 'IV9', 'IV10',
       'IV11', 'IV12_1', 'IV12_2', 'IV12_3', 'II1', 'II2', 'II3', 'II3_1',
       'II4_1', 'II4_2', 'II4_3', 'II5', 'II5_1', 'II6', 'II6_1', 'II7',
       'II7_ESP', 'II8', 'II8_ESP', 'II9', 'V1', 'V2', 'V21', 'V22', 'V3',
       'V4', 'V5', 'V6', 'V7', 'V8', 'V9', 'V10', 'V11', 'V12', 'V13', 'V14',
       'V15', 'V16', 'V17', 'V18', 'V19_A', 'V19_B', 'IX_TOT', 'IX_MEN10',
       'IX_MAYEQ10', 'ITF', 'DECIFR', 'IDECIFR', 'RDECIFR', 'GDECIFR',
       'PDECIFR', 'ADECIFR', 'IPCF', 'DECCFR', 'IDECCFR', 'RDECCFR', 'GDECCFR',
       'PDECCFR', 'ADECCFR', 'VII1_1', 'VII1_2', 'VII2_1', 'VII2_2', 'VII2_3',
       'VII2_4', 'IDIMPH', 'PONDIH'],
      dtype='object')
Columnas del dataframe individuales Index(['CODUSU', 'NRO_HOGAR', 'COMPONENTE', 'H15', 'ANO4', 'TRIMESTRE',
       'REGION', 'MAS_500', 'AGLOMERADO', 'PONDERA',
       ...
       'ADECCFR', 'PJ1_1', 'PJ2_1', 'PJ3_1', 'IDIMPP', 'CH05', 'IMPUTA',
       'PONDIIO', 'PONDII', 'PONDIH'],
      dtype='object', length=181)

In [37]:
# Mergeamos dataframes en uno solo
data = hogar_combined.merge(eph_combined) #No se si mergear sobre hogares o eph
print('Columnas del dataframe combinado', data.columns)
print('Datos del dataframe combinado:', data.shape[0])
data.head()

Columnas del dataframe combinado Index(['CODUSU', 'NRO_HOGAR', 'REALIZADA', 'ANO4', 'TRIMESTRE', 'REGION',
       'MAS_500', 'AGLOMERADO', 'PONDERA', 'IV1',
       ...
       'V21_M', 'T_VI', 'PJ1_1', 'PJ2_1', 'PJ3_1', 'IDIMPP', 'CH05', 'IMPUTA',
       'PONDIIO', 'PONDII'],
      dtype='object', length=247)
Datos del dataframe combinado: 14364

,CODUSU,NRO_HOGAR,REALIZADA,ANO4,TRIMESTRE,REGION,MAS_500,AGLOMERADO,PONDERA,IV1,...,V21_M,T_VI,PJ1_1,PJ2_1,PJ3_1,IDIMPP,CH05,IMPUTA,PONDIIO,PONDII
0,125098,1.0,Sí,2004.0,1er. Trimestre,Gran Buenos Aires,S,CABA,1299.0,Departamento,...,0.0,368.0,0.0,0.0,0.0,00000,NaN,NaN,NaN,NaN
1,125397,1.0,Sí,2004.0,1er. Trimestre,Gran Buenos Aires,S,CABA,2018.0,Departamento,...,0.0,0.0,0.0,0.0,0.0,00000,NaN,NaN,NaN,NaN
2,125515,1.0,Sí,2004.0,1er. Trimestre,Gran Buenos Aires,S,CABA,1486.0,Departamento,...,0.0,440.0,0.0,0.0,0.0,00020,NaN,NaN,NaN,NaN
3,125558,1.0,Sí,2004.0,1er. Trimestre,Gran Buenos Aires,S,CABA,1674.0,Departamento,...,0.0,0.0,0.0,0.0,0.0,00000,NaN,NaN,NaN,NaN
4,125558,1.0,Sí,2004.0,1er. Trimestre,Gran Buenos Aires,S,CABA,1674.0,Departamento,...,0.0,0.0,0.0,0.0,0.0,00000,NaN,NaN,NaN,NaN

In [38]:
# Eliminamos las observaciones con datos que no tienen sentido 
# CH06: edad
# PP03D: cantidad de ocupaciones 
# PP08D1: Monto por sueldos / jornales, salario familiar, horas extras, otras bonificaciones habituales y tickets, vales o similares percibidos en el mes de referencia 
# P21: MONTO DE INGRESO DE LA OCUPACIÓN PRINCIPAL 
# Convertimos las columnas relevantes a tipo numérico
cols_to_convert = ['CH06', 'PP03D', 'PP08D1', 'P21']
data[cols_to_convert] = data[cols_to_convert].apply(pd.to_numeric, errors='coerce')

# Eliminamos las observaciones con datos que no tienen sentido 
data.drop(data[(data['CH06'] < 0) | (data['PP03D'] < 0) | (data['PP08D1'] < 0) | (data['P21'] < 0)].index, inplace=True)

# Imprimimos la cantidad de datos restantes después de la limpieza
print("Cantidad de datos después de la limpieza:", len(data))

Cantidad de datos después de la limpieza: 13367

In [39]:
print('Cantidad de NaN en edad:', data['CH06'].isna().sum())

# Crear una copia de eph_combined solo con las columnas deseadas
# pero saco edad porque se me va a mezclar la edad 9
cols = ['CH04', 'CH07', 'CH08', 'NIVEL_ED', 'ESTADO', 'CAT_INAC', 'IPCF']
data_nsnr = data[cols].copy()

# Reemplazar los valores 9, 99, 999, y 9999 por NaN
data_nsnr.replace([9, 99, 999, 9999], np.nan, inplace=True)

# Mostrar un conteo de valores NaN en cada columna
na_columna = data_nsnr.isna().sum()
print("Cantidad de valores no saben/no responde (ahora NaN) por columna:")
print(na_columna)

# DATOS FALTANTES: 278 en edad, 13 en estado civil, 20 en cobertura medica y 1 en ingreso per capita

Cantidad de NaN en edad: 278
Cantidad de valores no saben/no responde (ahora NaN) por columna:
CH04         0
CH07        13
CH08        20
NIVEL_ED     0
ESTADO       0
CAT_INAC     0
IPCF         1
dtype: int64